In [1]:
import numpy as np
import pandas as pd
import os

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 250)

pd.options.display.float_format = '{:.0f}'.format

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
ncaa = pd.read_csv('~/Documents/Data Science/Data Projects/Capstone 1/data/CLEAN/ncaa_bios+stats_FINAL.csv', index_col=0)
ncaa.info()
ncaa.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7532 entries, 0 to 7531
Data columns (total 14 columns):
player_id       7532 non-null int64
player          7532 non-null object
team            7532 non-null object
class           7528 non-null object
position        7532 non-null object
height          7532 non-null float64
weight          7532 non-null float64
home_town       7488 non-null object
home_state      7483 non-null object
home_country    7489 non-null object
last_school     7236 non-null object
first           7532 non-null object
last            7532 non-null object
stats_name      7532 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 882.7+ KB

,player_id,player,team,class,position,height,weight,home_town,home_state,home_country,last_school,first,last,stats_name
0,1007910,Junaid Abdullah,Akron,SR,DB,70,210,Akron,OH,US,Kiski (Pa.) Prep,Junaid,Abdullah,Junaid Abdullah
1,56609,Reggie Corner,Akron,SR,DB,69,175,Canton,OH,US,McKinley HS,Reggie,Corner,Reggie Corner
2,56032,Yamari Dixon,Akron,SR,DB,69,200,Miami,FL,US,Booker T. Washington HS,Yamari,Dixon,Yamari Dixon
3,85465,Rodney Etienne,Akron,SO,DB,74,195,Pompano Beach,FL,US,Blanche Ely HS,Rodney,Etienne,Rodney Etienne
4,1007908,Mateo Jimenez,Akron,FR,DB,69,165,Pembroke Pines,FL,US,Flanagan HS,Mateo,Jimenez,Mateo Jimenez

In [5]:
combine = pd.read_csv('~/Documents/Data Science/Data Projects/Capstone 1/data/combine/Combine.csv')
combine.info()
combine.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 16 columns):
Rk                     632 non-null int64
Year                   632 non-null int64
Player                 632 non-null object
Pos                    632 non-null object
AV                     490 non-null float64
School                 632 non-null object
College                560 non-null object
Height                 632 non-null object
Wt                     632 non-null int64
40YD                   630 non-null float64
Vertical               527 non-null float64
BenchReps              518 non-null float64
Broad Jump             519 non-null float64
3Cone                  408 non-null float64
Shuttle                421 non-null float64
Drafted (tm/rnd/yr)    436 non-null object
dtypes: float64(7), int64(3), object(6)
memory usage: 79.1+ KB

,Rk,Year,Player,Pos,AV,School,College,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,1,2014,Lavelle Westbrooks\WestLa00,CB,nan,Georgia Southern,NaN,5-11,186,5,36,15,121,7,4,Cincinnati Bengals / 7th / 252nd pick / 2014
1,2,2014,Jaylen Watkins\WatkJa01,CB,3,Florida,College Stats,5-11,194,4,nan,22,nan,nan,nan,Philadelphia Eagles / 4th / 101st pick / 2014
2,3,2014,Jimmie Ward\WardJi01,SS,9,Northern Illinois,College Stats,5-11,193,5,nan,9,nan,nan,nan,San Francisco 49ers / 1st / 30th pick / 2014
3,4,2014,Jason Verrett\VerrJa00,CB,12,TCU,College Stats,5-9,189,4,39,nan,128,7,4,San Diego Chargers / 1st / 25th pick / 2014
4,5,2014,Brock Vereen\VereBr00,SS,2,Minnesota,College Stats,6-0,199,4,34,25,117,7,4,Chicago Bears / 4th / 131st pick / 2014

In [6]:
combine = combine.drop(['Rk', 'AV', 'College'], axis = 1)

# Break out info into new columns
combine['name'], _ = combine.Player.str.split('\\', 1).str
combine['draft_team'], combine['draft_round'], combine['draft_pick'], combine['draft_year'] = combine['Drafted (tm/rnd/yr)'].str.split('\/', 4).str

# Drop superfluous columns
combine.drop(['Drafted (tm/rnd/yr)', 'Year', 'Player'], axis=1, inplace=True)

# Reorder columns
cols = combine.columns.tolist()
cols = cols[-5:] + cols[:-5]
combine = combine[cols]
combine.head()

,name,draft_team,draft_round,draft_pick,draft_year,Pos,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle
0,Lavelle Westbrooks,Cincinnati Bengals,7th,252nd pick,2014,CB,Georgia Southern,5-11,186,5,36,15,121,7,4
1,Jaylen Watkins,Philadelphia Eagles,4th,101st pick,2014,CB,Florida,5-11,194,4,nan,22,nan,nan,nan
2,Jimmie Ward,San Francisco 49ers,1st,30th pick,2014,SS,Northern Illinois,5-11,193,5,nan,9,nan,nan,nan
3,Jason Verrett,San Diego Chargers,1st,25th pick,2014,CB,TCU,5-9,189,4,39,nan,128,7,4
4,Brock Vereen,Chicago Bears,4th,131st pick,2014,SS,Minnesota,6-0,199,4,34,25,117,7,4

In [7]:
cols = combine.columns.tolist()

cols = ['player', 'draft_team', 'draft_round', 'draft_pick', 'draft_year', 'draft_position', 'college', 'draft_height', 
        'draft_weight', 'forty', 'vertical', 'bench_reps', 'broad_jump', 'three_cone', 'shuttle']
combine.columns = cols
combine.head()

,player,draft_team,draft_round,draft_pick,draft_year,draft_position,college,draft_height,draft_weight,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,Lavelle Westbrooks,Cincinnati Bengals,7th,252nd pick,2014,CB,Georgia Southern,5-11,186,5,36,15,121,7,4
1,Jaylen Watkins,Philadelphia Eagles,4th,101st pick,2014,CB,Florida,5-11,194,4,nan,22,nan,nan,nan
2,Jimmie Ward,San Francisco 49ers,1st,30th pick,2014,SS,Northern Illinois,5-11,193,5,nan,9,nan,nan,nan
3,Jason Verrett,San Diego Chargers,1st,25th pick,2014,CB,TCU,5-9,189,4,39,nan,128,7,4
4,Brock Vereen,Chicago Bears,4th,131st pick,2014,SS,Minnesota,6-0,199,4,34,25,117,7,4

In [8]:
combine.draft_round = combine.draft_round.str.extract('(\d+)')
combine.draft_pick = combine.draft_pick.str.extract('(\d+)')
combine.draft_height = combine.draft_height.str[:1].astype(int) * 12 + combine.draft_height.str[2:].astype(int)
combine.head(30)
combine.info()

,player,draft_team,draft_round,draft_pick,draft_year,draft_position,college,draft_height,draft_weight,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,Lavelle Westbrooks,Cincinnati Bengals,7,252,2014,CB,Georgia Southern,71,186,5,36,15,121,7,4
1,Jaylen Watkins,Philadelphia Eagles,4,101,2014,CB,Florida,71,194,4,nan,22,nan,nan,nan
2,Jimmie Ward,San Francisco 49ers,1,30,2014,SS,Northern Illinois,71,193,5,nan,9,nan,nan,nan
3,Jason Verrett,San Diego Chargers,1,25,2014,CB,TCU,69,189,4,39,nan,128,7,4
4,Brock Vereen,Chicago Bears,4,131,2014,SS,Minnesota,72,199,4,34,25,117,7,4
5,Jemea Thomas,New England Patriots,6,206,2014,CB,Georgia Tech,69,192,5,37,19,125,nan,nan
6,Vinnie Sunseri,New Orleans Saints,5,167,2014,SS,Alabama,71,210,nan,nan,18,nan,nan,nan
7,Dezmen Southward,Atlanta Falcons,3,68,2014,SS,Wisconsin,72,211,4,nan,nan,nan,nan,nan
8,Daniel Sorensen,NaN,NaN,NaN,NaN,SS,BYU,73,205,5,32,13,114,6,4
9,Bradley Roby,Denver Broncos,1,31,2014,CB,Ohio State,71,194,4,38,17,124,nan,4
10,Marcus Roberson,NaN,NaN,NaN,NaN,CB,Florida,72,191,5,38,8,120,7,4
11,Rashaad Reynolds,NaN,NaN,NaN,NaN,CB,Oregon State,70,189,5,38,20,123,7,4
12,Ed Reynolds,Philadelphia Eagles,5,162,2014,FS,Stanford,73,207,5,32,15,117,nan,nan
13,Keith Reaser,San Francisco 49ers,5,170,2014,CB,Florida Atlantic,71,189,4,nan,22,nan,nan,nan
14,Loucheiz Purifoy,NaN,NaN,NaN,NaN,CB,Florida,71,190,5,36,6,120,nan,nan
15,Calvin Pryor,New York Jets,1,18,2014,FS,Louisville,71,207,5,34,18,116,nan,nan
16,Jabari Price,Minnesota Vikings,7,225,2014,CB,North Carolina,71,200,4,nan,16,nan,7,4
17,Terrance Mitchell,Dallas Cowboys,7,254,2014,CB,Oregon,71,192,5,34,nan,117,7,4
18,Keith McGill,Oakland Raiders,4,116,2014,CB,Utah,75,211,5,39,nan,129,7,4
19,Dexter McDougle,New York Jets,3,80,2014,CB,Maryland,70,196,4,nan,nan,nan,nan,nan
20,Craig Loston,NaN,NaN,NaN,NaN,SS,LSU,73,217,5,32,12,119,7,4
21,Isaiah Lewis,NaN,NaN,NaN,NaN,SS,Michigan State,70,211,5,36,15,122,7,4
22,Nevin Lawson,Detroit Lions,4,133,2014,CB,Utah State,69,190,4,33,16,120,7,4
23,Kenny Ladler,NaN,NaN,NaN,NaN,FS,Vanderbilt,72,207,5,36,24,127,nan,nan
24,Lamarcus Joyner,St. Louis Rams,2,41,2014,CB,Florida State,68,184,5,38,14,124,7,4
25,Dontae Johnson,San Francisco 49ers,4,129,2014,CB,North Carolina State,74,200,4,38,12,124,7,4
26,Stanley Jean-Baptiste,New Orleans Saints,2,58,2014,CB,Nebraska,75,218,5,42,13,128,nan,4
27,Kendall James,Minnesota Vikings,6,184,2014,CB,Maine,70,180,4,39,9,nan,7,4
28,Bennett Jackson,New York Giants,6,187,2014,CB,Notre Dame,72,195,5,38,13,128,7,4
29,Marqueston Huff,Tennessee Titans,4,122,2014,FS,Wyoming,71,196,4,36,15,118,7,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 15 columns):
player            632 non-null object
draft_team        436 non-null object
draft_round       436 non-null object
draft_pick        436 non-null object
draft_year        436 non-null object
draft_position    632 non-null object
college           632 non-null object
draft_height      632 non-null int64
draft_weight      632 non-null int64
forty             630 non-null float64
vertical          527 non-null float64
bench_reps        518 non-null float64
broad_jump        519 non-null float64
three_cone        408 non-null float64
shuttle           421 non-null float64
dtypes: float64(6), int64(2), object(7)
memory usage: 74.1+ KB

In [16]:
combine.to_csv('~/Documents/Data Science/Data Projects/Capstone 1/data/CLEAN/combine_FINAL.csv')