In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

% matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 250)

pd.options.display.float_format = '{:.0f}'.format

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
from matplotlib import rcParams
import matplotlib as mpl

#svg.fonttype: path

blue = '#3498DB'
gray = '#95A5A6'
red = '#E74C3C'
dark_gray = '#34495E'
green = '#2ECC71'
purple = '#9B59B6'
flatui = [blue, gray, red, dark_gray, green, purple]

#rcParams['axes.prop_cycle'] = cycler('color', [blue, gray, red, dark_gray, green, purple])

# Patches
mpl.rc('patch', 
       linewidth=0.5, 
       facecolor=dark_gray, 
       edgecolor='w', 
       force_edgecolor=True, 
       antialiased=True)    
  
# Figure
mpl.rc('figure', 
       figsize= (15, 9),
       dpi= 200,
       facecolor='w', 
       edgecolor='w', 
       titlesize='xx-large',
       titleweight=700)

# Grid
mpl.rc('grid', 
       color=dark_gray,
       alpha=0.5, 
       linewidth=0.5, 
       linestyle='-')

# Axes
mpl.rc('axes', 
       facecolor='w',
       edgecolor=dark_gray,
       linewidth=0.5,
       grid=True,
       titlesize='large',
       labelsize='large',
       labelcolor=dark_gray,
       axisbelow=True)

mpl.rc('axes.spines',
       right=False,
       top=False)

# Ticks
mpl.rc('xtick', 
       direction='out',
       color=dark_gray)

mpl.rc('xtick.major', 
       size=0.0)

mpl.rc('xtick.minor', 
       size=0.0)

mpl.rc('ytick', 
       direction='out',
       color=dark_gray)

mpl.rc('ytick.major', 
       size=0.0)

mpl.rc('ytick.minor', 
       size=0.0)

mpl.rc('legend', 
       frameon=False,
       numpoints=1,
       scatterpoints=1)

mpl.rc('font', 
       size=13,
       weight=400,
       family='sans-serif')

rcParams['font.sans-serif']: ['Helvetica', 'Verdana', 'Lucida Grande']

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns

## Load NCAA Biographical Data

In [3]:
bios = pd.read_csv('~/Documents/Data Science/Capstone 1/data/CLEAN/ncaa_bios+stats_names.csv', index_col=0)
bios.info()
bios.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7528 entries, 0 to 7531
Data columns (total 14 columns):
player_id       7528 non-null int64
player          7528 non-null object
team            7528 non-null object
class           7524 non-null object
position        7528 non-null object
height          7528 non-null float64
weight          7528 non-null float64
home_town       7484 non-null object
home_state      7479 non-null object
home_country    7485 non-null object
last_school     7232 non-null object
first           7528 non-null object
last            7528 non-null object
stats_name      7528 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 882.2+ KB

   player_id           player   team class position  height  weight       home_town home_state home_country              last_school   first      last       stats_name
0    1007910  Junaid Abdullah  Akron    SR       DB      70     210           Akron         OH           US         Kiski (Pa.) Prep  Junaid  Abdullah  Junaid Abdullah
1      56609    Reggie Corner  Akron    SR       DB      69     175          Canton         OH           US              McKinley HS  Reggie    Corner    Reggie Corner
2      56032     Yamari Dixon  Akron    SR       DB      69     200           Miami         FL           US  Booker T. Washington HS  Yamari     Dixon     Yamari Dixon
3      85465   Rodney Etienne  Akron    SO       DB      74     195   Pompano Beach         FL           US           Blanche Ely HS  Rodney   Etienne   Rodney Etienne
4    1007908    Mateo Jimenez  Akron    FR       DB      69     165  Pembroke Pines         FL           US              Flanagan HS   Mateo   Jimenez    Mateo Jimenez

### Deal with Missing Values

In [4]:
d = bios[bios.home_state.isnull()]
len(d)
d.head(20)

49

      player_id              player                  team class position  height  weight home_town home_state home_country last_school      first           last           stats_name
442     1010302     Josh Milinichik  North Carolina State    JR       FS      65     166       NaN        NaN          NaN         asf       Josh     Milinichik      Josh Milinichik
1146    1002043        Stevie Brown              Michigan    JR        S      72     209       NaN        NaN          NaN         NaN     Stevie          Brown         Stevie Brown
1147    1017083     Bobby Centlivre              Michigan    SO       CB      72     180       NaN        NaN          NaN         NaN      Bobby      Centlivre      Bobby Centlivre
1148    1009858      Artis Chambers              Michigan    SO        S      72     202       NaN        NaN          NaN         NaN      Artis       Chambers       Artis Chambers
1149      74109          Doug Dutch              Michigan    SR       CB      71     204       NaN        NaN          NaN         NaN       Doug          Dutch           Doug Dutch
1150      82614      Shakir Edwards              Michigan    SR        S      72     210       NaN        NaN          NaN         NaN     Shakir        Edwards       Shakir Edwards
1151      82620    Brandon Harrison              Michigan    SR        S      69     206       NaN        NaN          NaN         NaN    Brandon       Harrison     Brandon Harrison
1152    1017080        Zach Johnson              Michigan    FR       CB      74     197       NaN        NaN          NaN         NaN       Zach        Johnson         Zach Johnson
1153    1017087  Nick Koenigsknecht              Michigan    SO        S      70     178       NaN        NaN          NaN         NaN       Nick  Koenigsknecht  Nick Koenighsknecht
1154    1009848          Doug Rogan              Michigan    FR        S      73     185       NaN        NaN          NaN         NaN       Doug          Rogan           Doug Rogan
1155    1017088       Brandon Smith              Michigan    FR        S      75     210       NaN        NaN          NaN         NaN    Brandon          Smith        Brandon Smith
1156      74129     Charles Stewart              Michigan    SR        S      74     206       NaN        NaN          NaN         NaN    Charles        Stewart      Charles Stewart
1157      74131        Morgan Trent              Michigan    SR       CB      73     188       NaN        NaN          NaN         NaN     Morgan          Trent         Morgan Trent
1783    1000817     Cha'pelle Brown              Colorado    SR       CB      67     175       NaN        NaN          NaN         NaN  Cha'pelle          Brown      Cha'pelle Brown
1784      86200     Benjamin Burney              Colorado    SR       CB      71     195       NaN        NaN          NaN         NaN   Benjamin         Burney           Ben Burney
1785    1016017        Steven Hicks              Colorado    FR       DB      70     180       NaN        NaN          NaN         NaN     Steven          Hicks         Steven Hicks
1786    1016014      Patrick Mahnke              Colorado    SO        S      73     205       NaN        NaN          NaN         NaN    Patrick         Mahnke       Patrick Mahnke
1787    1023665       Erik Manarino              Colorado    SO        S      69     185       NaN        NaN          NaN         NaN       Erik       Manarino        Erik Manarino
1788    1023664       Cody McAninch              Colorado    FR       DB      73     200       NaN        NaN          NaN         NaN       Cody       McAninch        Cody McAninch
1789    1008722          Bret Smith              Colorado    JR        S      71     190       NaN        NaN          NaN         NaN       Bret          Smith           Bret Smith

In [5]:
# Google players for the missing home_state data

bios.loc[442, 'home_state'] = 'NC'
bios.loc[1146, 'home_state'] = 'IN'
bios.loc[1147, 'home_state'] = 'MI'
bios.loc[1148, 'home_state'] = 'IN'
bios.loc[1149, 'home_state'] = 'MD'
bios.loc[1150, 'home_state'] = 'MI'
bios.loc[1151, 'home_state'] = 'OH'
bios.loc[1152, 'home_state'] = 'MI'
bios.loc[1153, 'home_state'] = 'MI'
bios.loc[1154, 'home_state'] = 'MI'
bios.loc[1155, 'home_state'] = 'NJ'
bios.loc[1156, 'home_state'] = 'MI'
bios.loc[1157, 'home_state'] = 'MI'
bios.loc[1783, 'home_state'] = 'CA'
bios.loc[1784, 'home_state'] = 'CO'
bios.loc[1785, 'home_state'] = 'TX'
bios.loc[1786, 'home_state'] = 'CO'
bios.loc[1787, 'home_state'] = 'CO'
bios.loc[1788, 'home_state'] = 'CO'
bios.loc[1789, 'home_state'] = 'CO'

In [6]:
d = bios[bios.home_state.isnull()]
len(d)
d.head(20)

29

      player_id            player         team class position  height  weight      home_town home_state home_country          last_school     first      last        stats_name
1990    1009666       Stuart Lips     Marshall    JR       DB      75     208  Herrons Creek        NaN           AU          Paintsville    Stuart      Lips       Stuart Lips
2023    1017093  Boubacar Cissoko     Michigan    SO       CB      69     177            NaN        NaN          NaN                  NaN  Boubacar   Cissoko  Boubacar Cissoko
2024    1024782       Teric Jones     Michigan    FR       CB      68     193            NaN        NaN          NaN                  NaN     Teric     Jones       Teric Jones
2025    1024787       J.T. Turner     Michigan    FR       CB      74     187            NaN        NaN          NaN                  NaN      J.T.    Turner       J.T. Turner
2026    1009869    Donovan Warren     Michigan    JR       CB      72     185            NaN        NaN          NaN                  NaN   Donovan    Warren    Donovan Warren
2027    1009862  Michael Williams     Michigan    SO        S      71     188            NaN        NaN          NaN                  NaN   Michael  Williams  Michael Williams
2028    1024780      Adrian Witty     Michigan    FR       CB      70     166            NaN        NaN          NaN                  NaN    Adrian     Witty      Adrian Witty
2396    1026622        Kyle Ulses         Army    FR       DB      70     180     Heidelberg        NaN           DE  Heidelberg American      Kyle     Ulses        Kyle Ulses
2444    1026943      Robert Smith  Wake Forest    JR        S      70     200          Accra        NaN           GH     Springfield (IL)    Robert     Smith      Robert Smith
2733    1009161     Ricardo Bates      Houston    JR       DB      71     175            NaN        NaN          NaN                  NaN   Ricardo     Bates     Ricardo Bates
2734    1032045       Alton Demby      Houston    FR       DB      70     185            NaN        NaN          NaN                  NaN     Alton     Demby       Alton Demby
2735    1032046       Marc Haynes      Houston    FR       DB      70     190            NaN        NaN          NaN                  NaN      Marc    Haynes       Marc Haynes
2736    1009168    Roisean Haynes      Houston    JR       DB      71     191            NaN        NaN          NaN                  NaN   Roisean    Haynes    Roisean Haynes
2737    1032037     Aaron Johnson      Houston    FR       DB      72     180            NaN        NaN          NaN                  NaN     Aaron   Johnson     Aaron Johnson
2738    1009167      B.K. Johnson      Houston    JR       DB      70     180            NaN        NaN          NaN                  NaN      B.K.   Johnson      B.K. Johnson
2739    1024102        Devin Mays      Houston    SR       DB      72     180            NaN        NaN          NaN                  NaN     Devin      Mays        Devin Mays
2740    1009165       Loyce Means      Houston    SR       DB      71     179            NaN        NaN          NaN                  NaN     Loyce     Means       Loyce Means
2741    1032042     Miller Pierce      Houston    FR       DB      74     180            NaN        NaN          NaN                  NaN    Miller    Pierce     Miller Pierce
2742    1001289    Jamal Robinson      Houston    SR       DB      71     190            NaN        NaN          NaN                  NaN     Jamal  Robinson    Jamal Robinson
2743    1032041         Shane Ros      Houston    FR       DB      71     200            NaN        NaN          NaN                  NaN     Shane       Ros         Shane Ros

In [7]:
bios.loc[2023, 'home_state'] = 'MI'
bios.loc[2024, 'home_state'] = 'MI'
bios.loc[2025, 'home_state'] = 'OH'
bios.loc[2026, 'home_state'] = 'CA'
bios.loc[2027, 'home_state'] = 'CA'
bios.loc[2028, 'home_state'] = 'FL'
bios.loc[2444, 'home_state'] = 'IL'
bios.loc[2733, 'home_state'] = 'AL'
bios.loc[2734, 'home_state'] = 'TX'
bios.loc[2735, 'home_state'] = 'TX'
bios.loc[2736, 'home_state'] = 'TX'
bios.loc[2737, 'home_state'] = 'TX'
bios.loc[2738, 'home_state'] = 'TX'
bios.loc[2739, 'home_state'] = 'CA'
bios.loc[2740, 'home_state'] = 'TX'
bios.loc[2741, 'home_state'] = 'TX'
bios.loc[2742, 'home_state'] = 'TX'
bios.loc[2743, 'home_state'] = 'TX'

In [8]:
d = bios[bios.home_state.isnull()]
len(d)
d.head(20)

11

      player_id            player              team class position  height  weight      home_town home_state home_country           last_school     first      last        stats_name
1990    1009666       Stuart Lips          Marshall    JR       DB      75     208  Herrons Creek        NaN           AU           Paintsville    Stuart      Lips       Stuart Lips
2396    1026622        Kyle Ulses              Army    FR       DB      70     180     Heidelberg        NaN           DE   Heidelberg American      Kyle     Ulses        Kyle Ulses
2960    1033092       A.T. Aoelua  New Mexico State    JR       SS      70     200            NaN        NaN           AS           Fagaitua HS      A.T.    Aoelua       A.T. Aoelua
3420    1008265      Cedric Febis       Boise State    SR        S      75     206      Amsterdam        NaN           NL       Bishop Kelly HS    Cedric     Febis      Cedric Febis
3474    1038967  Anthony Thompson              UCLA    FR       CB      73     205       Montreal        NaN           CA        Vanier College   Anthony  Thompson  Anthony Thompson
4298    1046230    Dwain Bradshaw     Arizona State    JR       FS      71     220            NaN        NaN          NaN                   NaN     Dwain  Bradshaw    Dwain Bradshaw
4319    1023048      Cole Lorigan    Arkansas State    SR       DB      70     170            NaN        NaN          NaN                   NaN      Cole   Lorigan      Cole Lorigan
4454    1023733   August Campbell              Duke    JR        S      75     235       Freeport        NaN           BS  Christ School [N.C.]    August  Campbell   August Campbell
5169    1042608      Mark Nzeocha           Wyoming    SO       SS      75     220        Neusitz        NaN           DE           FOS Ansbach      Mark   Nzeocha      Mark Nzeocha
5432    1054549  Jonathan Linehan               BYU    FR       DB      72     185       Auckland        NaN           NZ                   NaN  Jonathan   Linehan  Jonathan Linehan
5698    1055067        Grant Helm  Florida Atlantic    JR       DB      72     208            NaN        NaN          NaN                   NaN     Grant      Helm        Grant Helm

In [9]:
bios.loc[4298, 'home_state'] = 'CA'
bios.loc[4319, 'home_state'] = 'AK'
bios.loc[1990, 'home_state'] = 'OC'
bios.loc[2396, 'home_state'] = 'OC'
bios.loc[2960, 'home_state'] = 'OC'
bios.loc[3420, 'home_state'] = 'OC'
bios.loc[3474, 'home_state'] = 'OC'
bios.loc[4454, 'home_state'] = 'OC'
bios.loc[5169, 'home_state'] = 'OC'
bios.loc[5432, 'home_state'] = 'OC'
bios.loc[5698, 'home_state'] = 'FL'

In [10]:
d = bios[bios.home_state.isnull()]
len(d)
d.head(20)

0

Empty DataFrame
Columns: [player_id, player, team, class, position, height, weight, home_town, home_state, home_country, last_school, first, last, stats_name]
Index: []

### Find Outliers

In [11]:
# find the NCAA weight outliers

bios = bios.sort_values(by='weight', ascending=False)
bios.head(10)

      player_id            player              team class position  height  weight          home_town home_state home_country                 last_school    first       last        stats_name
1223    1002507   Sioeli Fakalata  New Mexico State    JR       DB      75     313         Palo Alto          CA           US              St. Francis HS   Sioeli   Fakalata   Sioeli Fakalata
1220    1010238       E.J. Cannon  New Mexico State    JR       DB      72     292             Odessa         TX           US                 Odessa/NMMI     E.J.     Cannon       E.J. Cannon
2563    1031132      Nathan Ollie        Ball State    FR       DB      73     290            Chicago         IL           US                Mount Carmel   Nathan      Ollie      Nathan Ollie
1324    1010691      Doug Klopacz        Penn State    SO       CB      75     288  Hasbrouck Heights         NJ           US         St. Joseph Regional     Doug    Klopacz      Doug Klopacz
6101    1047778    Alex Witcpalek        Louisville    SR        S      71     286             Oswego         IL           US                     Oswegol     Alex  Witcpalek    Alex Witcpalek
4873    1025931  DeVonte Holloman    South Carolina    SR       SS      74     241          Charlotte         NC           US                South Pointe  DeVonte   Holloman  DeVonte Holloman
650     1003714       Taylor Read        Texas Tech    SR        S      74     241          O'Donnell         TX           US                   O'Donnell   Taylor       Read       Taylor Read
667     1011380      Jamie Jordan              UTEP    SO       DB      73     240            El Paso         TX           US              Pierce College    Jamie     Jordan      Jamie Jordan
1222    1010215       Kenny Evora  New Mexico State    SO       SS      76     239          Widefield         CO           US               Mesa Ridge HS    Kenny      Evora         Ken Evora
207       83645        Moise Paul           Florida    SR       DB      72     237           Brooklyn         NY           US  New Utrecht/Northland C.C.    Moise       Paul        Moise Paul

In [12]:
# Google players to confirm or correct what appears to be an outlier

# Sioeli Fakalata, EJ Cannon, Nathan Ollie, Doug Klopacz, Alex Witcpalek were actually D/O linemen according to Google
# DeVonte Hollomon moved to LB his senior year
# Taylor Read???
# Jamie Jordan ???
# Kenny Evora - Tight End / LB
bios = bios.drop([1223, 1220, 2563, 1324, 6101, 4873, 1222])
bios.head(10)

      player_id              player            team class position  height  weight      home_town home_state home_country                    last_school    first        last          stats_name
650     1003714         Taylor Read      Texas Tech    SR        S      74     241      O'Donnell         TX           US                      O'Donnell   Taylor        Read         Taylor Read
667     1011380        Jamie Jordan            UTEP    SO       DB      73     240        El Paso         TX           US                 Pierce College    Jamie      Jordan        Jamie Jordan
207       83645          Moise Paul         Florida    SR       DB      72     237       Brooklyn         NY           US     New Utrecht/Northland C.C.    Moise        Paul          Moise Paul
6218    1056057  Michael Topolinski  Michigan State    SO       DB      73     237  Richmond Hill         ON           CA  New Mexico Military Institute  Michael  Topolinski  Michael Topolinski
5899    1047403        Mike Svetina        Illinois    SO        S      74     235      Brunswick         OH           US                   St. Ignatius     Mike     Svetina        Mike Svetina
4454    1023733     August Campbell            Duke    JR        S      75     235       Freeport         OC           BS           Christ School [N.C.]   August    Campbell     August Campbell
4897    1049273      Collin LaGasse             SMU    FR       DB      71     235         Austin         TX           US                    Lake Travis   Collin     LaGasse      Collin LaGasse
2248    1003367         Taylor Mays             USC    SR        S      75     235        Seattle         WA           US                          O'Dea   Taylor        Mays         Taylor Mays
4337    1038653       Anthony Swain          Auburn    FR       DB      74     235        Gadsden         AL           US                   Gadsden City  Anthony       Swain       Anthony Swain
2787    1009371      Dahrnaz Tigner    Kansas State    JR       DB      74     233  Pompano Beach         FL           US                            Ely  Dahrnaz      Tigner      Dahrnaz Tigner

In [13]:
bios = bios.sort_values(by='height')
bios.head(10)

      player_id            player                  team class position  height  weight         home_town home_state home_country              last_school    first        last        stats_name
2091      82784      Frankie Baca            New Mexico    SR        S      60     199       Albuquerque         NM           US              La Cueva HS  Frankie        Baca      Frankie Baca
7315    1049519       Daniel Gray            Utah State    SO       CB      61     170  Lauderdale Lakes         FL           US  Boyd Andersen/Tennessee   Daniel        Gray       Daniel Gray
4861    1049135    Reggie Jackson         South Alabama    FR       CB      61     190            Mobile         AL           US            Faith Academy   Reggie     Jackson    Reggie Jackson
442     1010302   Josh Milinichik  North Carolina State    JR       FS      65     166               NaN         NC          NaN                      asf     Josh  Milinichik   Josh Milinichik
5413    1054525        Ryan Pitts         Bowling Green    FR       DB      65     155              Lima         OH           US    Lima Central Catholic     Ryan       Pitts        Ryan Pitts
633       83326        Ben Bitner             Texas A&M    SR       DB      65     169        Round Rock         TX           US               Round Rock      Ben      Bitner        Ben Bitner
4951    1041688   Corey Alexander             Tennessee    SR       DB      65     165          Gallatin         TN           US  Station Camp/Pittsburgh    Corey   Alexander   Corey Alexander
2781    1032255  Thomas Hankerson          Kansas State    SO       DB      65     156      Delray Beach         FL           US            Hutchinson CC   Thomas   Hankerson  Thomas Hankerson
7266    1034548   Jordan Crockett                  Army    SR       DB      66     163     Wesley Chapel         FL           US   Berkeley Prep (USMAPS)   Jordan    Crockett   Jordan Crockett
991     1009009     Vincent Brown               Florida    FR       CB      66     175       Gainesville         FL           US                 Eastside  Vincent       Brown     Vincent Brown

In [14]:
# Google each player to confirm or correct height outliers

# again, Googled the 10 shortest players and made corrections where I found different data
# stats were confirmed for a couple of these players, but they never played more than a game or two
bios.loc[2088, 'height'] = 71
bios.loc[7311, 'height'] = 70
bios.loc[7311, 'weight'] = 190

bios.head(10)

      player_id            player                  team class position  height  weight         home_town home_state home_country              last_school    first        last        stats_name
2091      82784      Frankie Baca            New Mexico    SR        S      60     199       Albuquerque         NM           US              La Cueva HS  Frankie        Baca      Frankie Baca
7315    1049519       Daniel Gray            Utah State    SO       CB      61     170  Lauderdale Lakes         FL           US  Boyd Andersen/Tennessee   Daniel        Gray       Daniel Gray
4861    1049135    Reggie Jackson         South Alabama    FR       CB      61     190            Mobile         AL           US            Faith Academy   Reggie     Jackson    Reggie Jackson
442     1010302   Josh Milinichik  North Carolina State    JR       FS      65     166               NaN         NC          NaN                      asf     Josh  Milinichik   Josh Milinichik
5413    1054525        Ryan Pitts         Bowling Green    FR       DB      65     155              Lima         OH           US    Lima Central Catholic     Ryan       Pitts        Ryan Pitts
633       83326        Ben Bitner             Texas A&M    SR       DB      65     169        Round Rock         TX           US               Round Rock      Ben      Bitner        Ben Bitner
4951    1041688   Corey Alexander             Tennessee    SR       DB      65     165          Gallatin         TN           US  Station Camp/Pittsburgh    Corey   Alexander   Corey Alexander
2781    1032255  Thomas Hankerson          Kansas State    SO       DB      65     156      Delray Beach         FL           US            Hutchinson CC   Thomas   Hankerson  Thomas Hankerson
7266    1034548   Jordan Crockett                  Army    SR       DB      66     163     Wesley Chapel         FL           US   Berkeley Prep (USMAPS)   Jordan    Crockett   Jordan Crockett
991     1009009     Vincent Brown               Florida    FR       CB      66     175       Gainesville         FL           US                 Eastside  Vincent       Brown     Vincent Brown

### Drop Unneeded Columns

In [ ]:
bios = bios.drop(['player_id', 'class', 'position', 'home_town', 'home_country', 'last_school', 'first', 'last'], axis = 1)
bios.info()
bios.head()

### Save for Later

In [ ]:
bios.to_csv('~/Documents/Data Science/Capstone 1/data/CLEAN/TO_MERGE_ncaa_bios.csv')

## Load NFL Data

In [ ]:
nfl = pd.read_csv('~/Documents/Data Science/Capstone 1/data/CLEAN/nfl_FINAL.csv', index_col=0)

nfl.info()
nfl.head()

In [ ]:
nfl = nfl.rename({'player':'nfl_player', 'height':'nfl_height', 'weight':'nfl_weight', 'position':'nfl_position'}, 
                axis='columns')

nfl['in_nfl'] = True
nfl['success'] = [x >= 3 for x in nfl.season_count]

cols = nfl.columns.tolist()
cols[1:1] = cols[-1:]
del cols[-1:]
nfl = nfl[cols]

nfl.head()

In [ ]:
nfl.info()

### Deal with Missing Values

In [ ]:
d = nfl[nfl.college.isnull()]
len(d)
d.head(20)

In [ ]:
nfl.loc[38, 'college'] = 'UCLA'
nfl.loc[371, 'college'] = 'Ohio State'
nfl.loc[480, 'college'] = 'Virginia Tech'
nfl.loc[874, 'college'] = 'North Alabama'
nfl.loc[1158, 'college'] = 'Alabama'
nfl.loc[1224, 'college'] = 'Arkansas - Pine Bluff'

In [ ]:
d = nfl[nfl.college.isnull()]
len(d)
d.head(20)

In [ ]:
nfl = nfl.drop(994, axis = 0)

nfl = nfl.reset_index(drop=True)
nfl.info()
nfl.head()

### NFL Outliers

In [ ]:
positions = ['DB', 'CB', 'S', 'FS', 'SS']
p = nfl[~nfl.nfl_position.isin(positions)]
len(p)
p.head()

In [ ]:
nfl = nfl.drop(908, axis = 0)

nfl = nfl.reset_index(drop = True)
nfl.info()
nfl.head()

In [ ]:
nfl = nfl.sort_values(by='nfl_weight', ascending=False)
nfl.head(10)

In [ ]:
nfl = nfl.drop(['last_name', 'first_name', 'pref_name', 'nfl_position', 'birth_date', 'birth_year', 'birth_day', 'hs_state', 'high_school', 'rookie', 'last_season', 'seasons'], axis = 1)
nfl.info()
nfl.head()

## Exploratory Data Analysis

Look at the following for trends:
- height
- weight
- home state
- birth month - even though I only have this data for NFL players

In [ ]:
df.describe()

In [ ]:
df = df.reset_index(drop = True)

fig, axes = plt.subplots(1, 2)
_ = axes[0].hist(df.height);
_ = axes[1].hist(df.nfl_height.dropna(), bins = 8);

In [ ]:
fig, axes = plt.subplots(1, 2)
_ = axes[0].hist(df.weight);
_ = axes[1].hist(df.nfl_weight.dropna(), bins = 8);

In [ ]:
df.home_state.value_counts().plot(kind='bar')

In [ ]:
tx = len(df[df.home_state == 'TX'])
fl = len(df[df.home_state == 'FL'])
ca = len(df[df.home_state == 'CA'])

print('TX: {}'.format(tx))
print('FL: {}'.format(fl))
print('CA: {}'.format(ca))
print('TX + FL + CA: {}'.format(tx + fl + ca))

top_states = ['TX', 'CA', 'FL']
print('All other states: {}'.format(len(df[~df.home_state.isin(top_states)])))

In [ ]:
plt.hist(df.birth_month.dropna(), bins = 12);

In [ ]:
nfl.to_csv('~/Documents/Data Science/Capstone 1/data/CLEAN/TO_MERGE_nfl.csv')

## Merge NFL Data with NCAA Bios

In [ ]:
df = pd.merge(bios, nfl, how='left', left_on=['player', 'team'], right_on=['ncaa_name', 'college'],
                       validate='one_to_one')

df.info()
df.head()

## Feature Engineering

- drop unneeded cols
- standardize numeric columns
- one-hot encode home states
- one-hot encode teams
- one-hot encode positions

In [ ]:
# drop unneeded cols
df = df.drop(['player_id', 'player', 'class', 'home_town', 'home_country', 'last_school', 'first', 'last', 'stats_name', 
              'last_name', 'first_name', 'pref_name', 'nfl_player', 'nfl_position', 'nfl_height', 'nfl_weight', 
              'birth_date', 'birth_day', 'birth_month', 'birth_year', 'rookie', 'last_season', 'seasons', 'high_school', 
              'hs_state', 'season_count', 'in_nfl', 'college', 'ncaa_name'], axis = 1)
df.info()

In [ ]:


df.head(20)

In [ ]:
df = df.dropna(axis = 0)
df.info()

In [ ]:
pct_success = df.success.sum() / len(df.position)
pct_success

In [ ]:
from sklearn.preprocessing import LabelBinarizer

# create OH encoder for team
team_oh = LabelBinarizer()

# encode team
team_oh.fit_transform(df.team)

# create OH encoder for state
state_oh = LabelBinarizer()

# encode state
state_oh.fit_transform(df.home_state)

# create OH encoder for position
position_oh = LabelBinarizer()

# encode position
position_oh.fit_transform(df.position)